# Configuración de Base de Datos MongoDB
MONGODB_URI=mongodb+srv://<db_username>:<db_password>d@cluster.mongodb.net/?retryWrites=true&w=majority&appName=ClusterName
MONGODB_URI_TEST=mongodb+srv://<db_username>:<db_password>d@cluster.mongodb.net/?retryWrites=true&w=majority&appName=ClusterNameTest
DB_NAME=nombre_base_de_datos

# Configuración del Servidor
PORT=8080
NODE_ENV=desarrollo
BASE_URL=http://localhost:8080

# Configuración JWT
JWT_SECRET=tu_clave_secreta_jwt
JWT_EXPIRES_IN=24h